.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  font-family: Arial, Helvetica, sans-serif;
  /* need to dowload correct font. issue with included files */
  display: flex;
  justify-content: center;
  border: 0.2em solid black;
  padding: 0.5em;
  width: 1440px;
  height: 1000px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid black;
  padding: 0.1em;
  width: 360px;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 500px;
}

.container.a {
  background: linear-gradient( 180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(241, 100%, 89%);
  border-top-left-radius: 15% ;
  border-bottom-left-radius: 15% ;
  border-top-right-radius: 15% ;
  border-bottom-right-radius: 15% ;
  z-index: 2;
}

.your-score {
  font-size: 50px;
}

.great {
  color: white;
  font-size: 25px;
}

.percent {
  width: 65%;
  font-size: 18px;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 150px;
  height: 150px;
  border-radius: 50%;
}




.container.b {
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 15% ;
  border-bottom-right-radius: 15% ;
  margin-left: -4%;
  z-index: 1;
}

.score-box {
  display: flex;
  justify-content: space-between;
  border: 0.1em solid black;
  width: 40%;
  padding: 1%;
}

.score-box.reaction {
  background-color: hsl(0, 100%, 67%, 0.2);
  color: hsl(0, 100%, 67%);
  border: none;
  border-radius: 5px;
  padding: 10px
}

.score-box.memory {
  background-color: hsl(39, 100%, 56%, 0.2);
  color: hsl(39, 100%, 56%);
  border: none;
  border-radius: 5px;
  padding: 10px
}
.score-box.verbal {
  background-color: hsl(166, 100%, 37%, 0.2);
  color: hsl(166, 100%, 37%);
  border: none;
  border-radius: 5px;
  padding: 10px
}
.score-box.visual {
  background-color: hsl(232, 85%, 45%, 0.2);
  color: hsl(232, 85%, 45%);
  border: none;
  border-radius: 5px;
  padding: 10px
}


.container.a .fraction{
  color: gray;
}

.score-box .fraction {
  color: gray;
}

.score-box .score {
  color: black;
}


.btn-rounded {
  color: white;
  background-color: hsl(224, 30%, 27%);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 45%
}

