body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  font-family: 'Hanken Grotesk';
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.secondary-container {
  display: flex;
  margin-top: 20%;
  margin-bottom: 20%;
  width: 680px;
  height: 480px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 30px 30px 25px rgba(0, 0, 50, 0.1);
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1em solid black;
  padding: 0.1em;
  width: 340px;
  margin-top: 20%;
  margin-bottom: 20%;
  height: 475px;
} */

.container.a {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 40px;
  z-index: 2;
}

h2.result-heading {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 35px 0;
  color: hsl(241, 100%, 89%);
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(hsl(256, 72%, 46%, 1), hsl(241, 72%, 46%, 0));
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

.circle > .your-score {
  color: white;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: end;
  font-size: 70px;
  font-weight: 800;
  /* background-color: red; */
}

.circle > .fraction {
  color: hsl(252, 100%, 67%);
  font-weight: 700;
  display: flex;
  flex: 1;
  /* background-color: aquamarine; */
}

.comment{
  color: white;
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-size: 30px;
  font-weight: 700;
}

.percent {
  color: hsl(241, 100%, 89%);
  width: 75%;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
}

.container.b {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 40px;
  z-index: 1;
}

h2.summary-heading {
  /* background-color: blueviolet; */
  font-size: 24px;
  font-weight: 700;
  align-content: flex-start;
  color: black;
  width: 75%;
  margin: 0 0 20px 0;
}

.score-box {
  display: flex;
  flex-direction: row;
  flex: 0 1 2em;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 800;
  align-items: center ;
  margin-bottom: 1em;
  margin-top: 0;
  width: 70%;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.score-box.reaction {
  background-color: hsl(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.score-box.memory {
  background-color: hsl(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
.score-box.verbal {
  background-color: hsl(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
.score-box.visual {
  background-color: hsl(232, 85%, 45%, 0.1);
  color: hsl(232, 85%, 45%);
}

.score-box .icon {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 3%;
  margin-right: 10px;
  margin-left: 5px;
}

.label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  /* background-color: blue; */
}

.score {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 10%;
  /* background-color: aquamarine; */
}

.fraction {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 15%;
  /* background-color: brown; */
}

.score-box .fraction {
  color: gray;
}

.score-box .score {
  margin-right: 5px;
  color: black;
}

.btn-rounded {
  color: white;
  font-weight: 700;
  font-size: 15px;
  background-color: hsl(224, 30%, 27%);
  padding: 18px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 75%;
  margin-top: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-rounded:hover {
  background-color: hsl(241, 72%, 46%);
}